html{background-color:#FFFFFF}
h1 {font-size:35px; text-align:center; color:#FFFFFF}
p {font-size: 24px;}
a {font-size: 21px;}
header {background-color: blueviolet}
ol li {font-size: 26px; color:blueviolet}