html{background-color: darkgreen}
h1 {font-size:35px; text-align:center}
p {font-size: 24px; color:#FFFFFF}
a {font-size: 21px; color: #FFFFFF}
h2 {font-size: 30px}
ol li {font-size: 26px;     color: #FFFFFF}
header {background-color: darkorange}