p {font-size: 25px; color: #032B44}
 li {font-size:24px; color:#032B44}
h3 {font-size: 28px; color:#FFFFFF}
a{font-size: 21px; color: #032B44}
html {background-color: #FFFFFF}
header {background-color:#032B44 }