html {background-color:aliceblue}
h2 {text-align: center; color: darkred; font-size: 35px}
h3 {color:darkblue; font-size: 28px}
p {font-family:inherit; font-size: 25px;}
header {background-color: antiquewhite; background-size: 1200px 10px}
a {font-size: 21px}
b {color: darkblue}